
        body {
            background-color: #f0f8ff;
            font-family:Arial, sans-serif;
        }
    h1 {
        color:darkblue;
        text-align:center;
    }
    h2 {
        color:orange;
        font-size:1.5em;
        line-height: 4em;
    }
    h3
    {
        color:rgb(214, 25, 25);
        font-size:1.5em;
        line-height: 4em;
    }
    h4 {
        color:purple;
        font-size:1.5em;
        line-height: 4em;
    }
    h5 {
        color:red;
        font-size:1.5em;
        line-height: 4em;
    }
    h6 {
        color:orange;
        font-size:1.5em;
        line-height: 4em;
    }
    p {
        line-height: 1.5;
    }
    a {
        color:black;
    }
    img {
        display:block;
        width: 10%;;
        height: 180px;
     float:right;
    }